<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SwiftOtter\GroupShippingPolicy\Api\Data\GroupShippingPolicyInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\GroupShippingPolicy" />
    <preference for="SwiftOtter\GroupShippingPolicy\Api\Data\GroupShippingPolicySearchResultsInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\GroupShippingPolicySearchResults" />
    <preference for="SwiftOtter\GroupShippingPolicy\Api\GroupShippingPolicyRepositoryInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\GroupShippingPolicyRepository" />

    <preference for="SwiftOtter\GroupShippingPolicy\Api\Data\PolicyCountryInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\PolicyCountry" />
    <preference for="SwiftOtter\GroupShippingPolicy\Api\Data\PolicyCountrySearchResultsInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\PolicyCountrySearchResults" />
    <preference for="SwiftOtter\GroupShippingPolicy\Api\PolicyCountryRepositoryInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\PolicyCountryRepository" />

    <preference for="SwiftOtter\GroupShippingPolicy\Api\Data\PolicyCallbackInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\PolicyCallback" />
    <preference for="SwiftOtter\GroupShippingPolicy\Api\Data\PolicyCallbackSearchResultsInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\PolicyCallbackSearchResults" />
    <preference for="SwiftOtter\GroupShippingPolicy\Api\PolicyCallbackRepositoryInterface"
                type="SwiftOtter\GroupShippingPolicy\Model\PolicyCallbackRepository" />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="listGroupShippingPolicies" xsi:type="object">SwiftOtter\GroupShippingPolicy\Console\Command\ListPolicies</item>
                <item name="listGroupShippingPolicyCountries" xsi:type="object">SwiftOtter\GroupShippingPolicy\Console\Command\ListPolicyCountries</item>
                <item name="listGroupShippingPolicyCallbacks" xsi:type="object">SwiftOtter\GroupShippingPolicy\Console\Command\ListPolicyCallbacks</item>
                <item name="setGroupShippingPolicy" xsi:type="object">SwiftOtter\GroupShippingPolicy\Console\Command\SetPolicy</item>
            </argument>
        </arguments>
    </type>
</config>
